:root {
    --spiral-opacity: 30%;
    --spiral-width: 270px;
    --spiral-height: 240px;
    --world-icons-width: 36px;
    --world-icons-height: 36px;
}

#title {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(46, 1, 81);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#guess-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;   /* or 'cover' to fill with cropping */
    z-index: 0;
}

#Spiral {
    padding: 10px;
    border-radius: 50px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    width: var(--spiral-width);
    height: var(--spiral-height);
    opacity: var(--spiral-opacity);
    transition: 0.1s ease-out;
}

#spiral-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-out;
}

#Spiral > #spiral-content > img:first-child {
    display: block;
    width: 100%;
    height: 100%;
}

.world-icon {
    position: absolute; /* relative to container */
    width: var(--world-icons-width);
    height: var(--world-icons-height);
    transform: translate(-50%, -50%) translate(var(--offsetX, 0px), var(--offsetY, 0px));

    transition: 0.3s ease-out;
    transition-property: transform, width, border, background-color;
}

.area-hotspot {
    user-select: none;
    position: absolute;
    cursor: pointer;
    background: transparent;
    /* debug: uncomment to see hotspots */
    /* background: rgba(255, 0, 0, 0.3); */
    color: transparent
}

.wizard-city { top: 30%; left: 47%; }
.krokotopia { top: 46%; left: 37%; }
.marleybone { top: 54%; left: 49%; }
.mooshu { top: 43%; left: 62%; }
.dragonspyre { top: 19%; left: 60%; }
.grizzleheim { top: 18%; left: 40%; }
.celestia { top: 35%; left: 30%; }
.wysteria { top: 59%; left: 31%; }
.zafaria { top: 70%; left: 44%; }
.avalon { top: 59%; left: 63%; }
.azteca { top: 32%; left: 72%; }
.khrysalis { top: 13%; left: 70%; }

/* .Wizard101GeoGuessrMap {
    max-width: 700px;
    margin: 0 auto;
    padding: 3rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} */